@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*/
@layer base {
  body {
    margin: 0;
    font-family: Montserrat, sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  svg {
    display: inline;
    vertical-align: baseline;
  }
  span.anticon.ant-notification-notice-icon {
    padding-top: 30px;
    display: inline;
    vertical-align: baseline;
  }
  a,
  Link {
    cursor: pointer;
  }
  dl,
  ol,
  ul {
    margin: 0px !important;
    margin-bottom: 0px !important;
  }
  * {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  *::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

.ant-form-item-explain-error{
  color: red !important;
  font-size: small !important;
}
